@charset "UTF-8";
.botton {
  display: flex;
  justify-content: center;
}

.btn {
  border-radius: 10px;
  margin: 15px;
  padding: 0 15px;
  line-height: 50px;
  cursor: pointer;
}

.red {
  color: #fff;
  background: #fd0f0fd9;
}

.blue {
  color: #fff;
  background: #170ffdd9;
}

.green {
  color: #000;
  background: #0ffd0fd9;
}

.shadow-r {
  box-shadow: 0 5px rgba(63, 5, 5, 0.851);
}

.shadow-b {
  box-shadow: 0 5px rgba(5, 13, 63, 0.851);
}

.shadow-g {
  box-shadow: 0 5px rgba(5, 63, 5, 0.851);
}

.push:active {
  box-shadow: none;
  transform: translateY(5px);
}

.doubleline {
  color: #67c5ff;
  border: 4px double #67c5ff;
}

.doubleline:hover {
  background: #fffbef;
  transition: 1s;
}

.dottedline {
  color: #67c5ff;
  border: 4px dotted #67c5ff;
}

.dottedline:hover {
  border: 4px dashed #67c5ff;
  transition: 1s;
}

.dashedline {
  color: #0079a5f8;
  border: 4px dashed #67c5ff;
  background: #d0edfff8;
}

.dashedline:hover {
  color: #67c5ff;
  background: #ffffff;
  transition: 1s;
}







