@charset "UTF-8";
.one {
  height: 500px;
  background: url(../../image/coffee-background.jpg);
}

.two {
  height: 500px;
  background: url(../../image/coffee-background.jpg) no-repeat;
}

.three {
  height: 500px;
  background: url(../../image/coffee-background.jpg) no-repeat center/cover;
}

.four {
  height: 500px;
  background: url(../../image/coffee-background.jpg) no-repeat center/contain;
}