@charset "UTF-8";
header {
  background: #338bff;
  position: fixed;
  width: 100%;
}

.header-box {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

.header-navi {
  display: flex;
  justify-content: space-between;
}

.header-logo a {
  font-size: 24px;
  font-weight: bold;
  color: #f2ff7b;
}

.header-logo {
  margin-top: 30px;
}

.header-navi li {
  list-style: none;
  padding: 30px;
}

.header-navi a {
  color: #ffffff;
}
